@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');




.header__logo {
    text-align: center;
    margin: 20px 20px 0px 20px;
    padding: 0px 20px 0px 20px;
    background-color: #ffffff; /* 박스 배경 색상 */
    border-radius: 30px; /* 둥근 각 설정 */
    //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
    position: relative; /* 상대 위치 설정 */
    
    

    a {
      text-decoration: none;
      display: inline-block;
      font-size: 30px;
      font-weight: 800;
      font-family: 'Lato', sans-serif; /* Lato 글꼴 사용 */
      position: relative; /* 상대 위치 설정 */
      overflow: hidden; /* 내부 내용이 넘치는 경우 가림 */
      color: transparent; /* 투명하게 설정하여 텍스트를 보이지 않도록 함 */
      
      &:before {
        content: ''; /* 가상 요소 생성 */
        position: absolute;
        width: 100%;
        height: 170%;
        background-image: url("../../img/header/train.png"); /* 이미지 경로 설정 */
        background-size: cover; /* 이미지를 컨테이너에 맞게 조절 */
        top: -30px;
        left: 100%; /* 초기 위치 설정 */
        transition: left 0.5s ease; /* 좌표 이동에 대한 전환 효과 설정 */
        
      }
      
      &:hover:before {
        left: 0; /* 마우스 호버 시, 이미지가 보이도록 이동 */
        top: -30px;
      }
    }
    
    span {
      display: block;
      color: #333333; /* 텍스트 색상 설정 */
      margin-top: 10px; /* 로고와 텍스트 사이 간격 설정 */
      text-shadow: 1px 1px 2px rgba(0,0,0,0.5); /* 글자 그림자 효과 추가 */
      letter-spacing: 1px; /* 글자 간격 조정 */
    }
  }
  
.header__menu {
    padding: 10px 0 0 0;
    
    .menu {
        border-bottom: 1px solid white;

        li {
            margin: 0px 10px 5px 10px;
            background-color: #ffffff; /* 박스 배경 색상 */
            border-radius: 30px; /* 둥근 각 설정 */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
            position: relative; /* 상대 위치 설정 */
            a {
                font-size: 1rem;
                display: block;
                padding: 0.9rem 2rem 0.9rem 3.125rem;
                margin: 0;
                border-radius: 40px;
                position: relative;
                line-height: 1;
                color: black;
                transition: all 0.3s;
                font-weight: bold; /* 글씨를 더 두껍게 만듭니다. */

                svg {
                    width: 1.25rem;
                    height: 1.25rem;
                    position: absolute;
                    left: 1.25rem;
                    top: 0.75rem;
                }

                &:hover {
                    background-color: var(--black100);
                    color: var(--white);
                }
            }

            &.active a {
                background-color: var(--black100);
                color: var(--white);
            }
        }
    }

    .keyword {
        padding: 0.5rem;
        text-align: center;
        li {
            display: inline-block;

            a {
                display: inline-block;
                padding: 5px 15px;
                border: 1px solid var(--black200);
                font-size: 0.8rem;
                border-radius: 40px;
                margin: 3px 1px;
                transition: all 0.3s;

                &:hover {
                    background-color: var(--black100);
                    color: var(--white);
                }
            }

            &.active a {
                background-color: var(--black100);
                color: var(--white);
            }
        }
    }
}

.header__sns {
    //position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 260px;
    text-align: center;
    padding: 0px 0 10px;
    background-color: white;
    backdrop-filter: blur(10px);

    @media (max-width: 800px){
        display: none;
    }

    li {
        display: inline-block;

        a {
            padding: 5px 7px;
            display: inline-block;
        }
    }
}

@keyframes ani {
    0% {
        transform: rotate(0) scale(1);
        border-radius: 0;
    }
    50% {
        transform: rotate(720deg) scale(0.5);
        border-radius: 20px;
    }
    100% {
        transform: rotate(0) scale(1);
        border-radius: 0;
    }
}

//Dest.jsx
.dest-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 250px;
    margin: 0 auto;
    text-align: center; // 가운데 정렬
  }
  
  .dest-heading {

    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .dest-details {
    margin-bottom: 20px;
  }
  
  .dest-label {
    font-weight: bold;
  }
  
  .dest-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .dest-button:hover {
    background-color: #0056b3;
  }
  