@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


#header {
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 107.5%;
    overflow-y: auto;
    z-index: 10000;
    margin-top: 50px;
    border-right: 1px solid white;
    background-color: white;
    transition: left 0.3s ease; /* 트랜지션 효과 추가 */
    .title {
        text-align: center;
        margin-top: 0;
    }
    
}

#header.hidden {
    left: -260px; /* 왼쪽으로 숨기기 */
}


@media (max-width: 800px) {
    #header {
        left: 0; /* 화면이 작을 때는 왼쪽에 고정 */
    }

    #header.hidden {
        left: -260px; /* 화면이 작을 때 숨김 */
    }
}


#main {
    max-width: 2000px;
    min-height: 100vh;
    margin: 0 auto 0 auto;
    padding-left: 260px;
    top: 300px;
}


#footer {
    text-align: center;
    background-color: var(--black100);
    border-top: 1px solid (var--black100);
    padding: 20px;
    //margin-left: 260px;
    width: calc(100% - 0px);
    color: var(--black400);
    font-size: 0.8rem;
}



@media (max-width: 800px){
    #header {
        left: -260px;

        h1 {
            position: fixed;
            left: 0;
            top: 0;
        }
    }
    #main {
        padding-left: 0;
    }
    #footer {
        width: 100%;
        margin-left: 0;
    }
}


.header-container {
    border-bottom: #343435;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px; /* 좌우 여백 추가 */
}

.toggle-button {
    background-color: black;
    color: white;
    border: none;
    padding: 5px 12px 1px 12px; /* padding 조정 */
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 0px;
    font-size: 20px; /* 아이콘 크기 조정 */
}

.toggle-button:hover {
    background-color: #343435;
}

.top-container {
    padding-top: 3px;
    flex: 1;
    text-align: center;
    margin-left: auto;
}

.top-container span {
    font-weight: bold; /* 더 두껍게 */
    font-family: 'Lato', sans-serif; /* Lato 글꼴 사용 */
    font-size:larger;
    /* 다른 스타일 추가 */
}