/* SubwayLines.css */

.lines-container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.line-graphic {
    width: 200px;
    height: 20px;
    margin: 5px 0;
    background-color: grey;
    opacity: 0.3; /* 기본 투명도 설정 */
    transition: opacity 0.3s ease; /* 부드러운 투명도 변화 효과 */
}

.line-graphic.active {
    opacity: 1; /* 선택 시 투명도 낮추기 */
}

/* 여기에 각 노선별 색상을 추가할 수 있습니다. */
#graphic-Line1 { background-color: blue; }
#graphic-Line2 { background-color: green; }
#graphic-Line3 { background-color: red; }
