<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>실시간 지하철 지연 예측 서비스</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style_index.css">

</head>
<body>
<h2>실시간 지하철 지연 예측 서비스</h2>
<div class="btn-container">
  <button onclick="location.href='/join'">회원가입</button>
  <button onclick="location.href='/login'">로그인</button>
  <button onclick="location.href='/member/'">사용자 목록</button>

</div>



<script>

</script>
</body>
</html>