<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Save</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style_join.css">
</head>
<body>
<h2>회원가입</h2>
<form accept-charset="UTF-8" action="/join" method="post">
    아이디: <input type="text" name="userId" required> <br>
    비밀번호: <input type="password" name="userPassword" required> <br>
    닉네임: <input type="text" name="userNickname" required> <br>
    이름: <input type="text" name="userName" required> <br>
    휴대폰 번호: <input type="text" name="userTelNumber" required><br>
    생년월일: <input type="text" name="userDate" required> <br>
    <input type="submit" value="회원가입">
</form>
</body>
</html>